<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
</head>
<body>
    <h1>Recommended Movies</h1>
    {% for table in tables %}
        <div>{{ titles[loop.index0] }}</div>
        {{ table | safe }}
    {% endfor %}
    
    <h2>User Similarity Heatmap</h2>
    <img src="data:image/png;base64,{{ user_item_heatmap }}" alt="User Similarity Heatmap">

    <h2>Item Similarity Heatmap</h2>
    <img src="data:image/png;base64,{{ item_item_heatmap }}" alt="Item Similarity Heatmap">
</body>
</html>
